.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.submit_request {
    margin-top: 10px;
    background-color: royalblue;
    font-weight: bold;
    color: white;
}