.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.button {
    margin-top: 10px;
    background-color: royalblue;
    font-weight: bold;
    color: white;
}

.request__delete {
    background-color: lightcoral;
    font-weight: bold;
}

.request__list {
    list-style-image: url('/images/wrench.png');
}