.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.button {
    margin-top: 10px;
    background-color: royalblue;
    font-weight: bold;
    color: white;
}

.request__list {
    list-style-image: url('/images/wrench.png');
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

.request__list li:nth-child(odd) {
    background-color: lightgrey;
}

.request__list__li {
    background-color: darkgray;
    padding: 5px 5px 5px 0px;
}

.request__delete {
    background-color: lightcoral;
    font-weight: bold;
    justify-self: end;
}